<!doctype html>
<html lang="en">

<%- include('head') %>

<body>
<%- include('header') %>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>


      <div class="album py-5 bg-light">

        <div class="container">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input class="form-control" type="text" placeholder="Search"/>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <% for(var i=0; i < jobs.length; i++) { %>
              <%- include('job-modal', {i: i, jobs: jobs}) %>
            <% } %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <p class="card-text d-flex justify-content-center">
                    <button type="button" class="btn btn-primary add" data-toggle="modal" data-target="#exampleModalCenter">
                      <i class="fas fa-plus-circle fa-10x"></i>
                    </button>
                  </p>
                  </div>
              </div>
            </div>
            <%- include('new-job-modal') %>

          </div>
        </div>
      </div>
    </main>
  </body>

<%- include('footer') %>
</html>
